*{
  padding: 0;
  margin: 0;
}
body {font-family: Arial, Helvetica, sans-serif;
       background-image: url("food bg.jpg");
       background-size: cover;
}

.cntainer-m{
        width: 40%;
        height: 100%;  
        margin-left: 20px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10%;
}

button {
  background-color: rgb(103, 33, 216);
  color: rgb(14, 228, 243);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.6;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  
 width: 80%;
 height: 200px;
 margin-left: 50px;
 margin-top: 60px;
 background-size: cover;
 background-image: url(freso\ logo.png);
 border-radius: 10%;
}



.container {
  padding: 16px;
  color: rgba(231, 214, 59, 0.89);
}

span.psw {
  float: right;
  padding-top: 16px;
}
.container-z{
  width: 90%;
  padding: 10px;
  margin-left: 15px;
  background-color: rgba(245, 35, 20, 0.795);
  text-align: center;
  border-radius: 50%;
}
.a
{ color:rgb(14, 15, 15);
  text-decoration:none;
  margin-left:8px;
  font-size: 20px;
}
.a:hover
{
	color:rgb(244, 247, 85)
}